DJANGO_SECRET_KEY=change-me-before-production
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=["127.0.0.1","localhost","0.0.0.0"]
DJANGO_TIME_ZONE=Europe/Warsaw
DATABASE_URL=sqlite:////app/var/db/db.sqlite3
BACKUP_STORAGE_ROOT=/app/var/snapshots
VAULT_HOST_PATH=./vaults
